(
    columns: [
        {
            "name": "Label",
            "datatype": String,
            "bit_settings": "",
            "values": [
                Some("Pa"),
                Some("St"),
                Some("Ol"),
                Some("Pi"),
                Some("Li"),
                Some("Pn"),
                Some("Ln"),
                Some("Ar"),
                Some("Gd"),
            ],
        },
        {
            "name": "Carbons",
            "datatype": UInt8,
            "bit_settings": "",
            "values": [
                Some(16),
                Some(18),
                Some(18),
                Some(18),
                Some(18),
                Some(18),
                Some(18),
                Some(20),
                Some(20),
            ],
        },
        {
            "name": "Doubles",
            "datatype": List(Int8),
            "bit_settings": "",
            "values": [
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                    ],
                }),
            ],
        },
        {
            "name": "Triples",
            "datatype": List(Int8),
            "bit_settings": "",
            "values": [
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
            ],
        },
        {
            "name": "TAG",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(145011164.005),
                Some(74037315.87),
                Some(595392558.25),
                Some(42194071.111),
                Some(1158289211.401),
                Some(599666360.16),
                Some(5070004.063),
                Some(7737659.8),
                Some(25798972.603),
            ],
        },
        {
            "name": "DAG1223",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(302116780.058),
                Some(195624715.683),
                Some(2545783364.126),
                Some(208041598.375),
                Some(4819585526.736),
                Some(2420977752.198),
                Some(12823290.138),
                Some(31481582.538),
                Some(85358549.162),
            ],
        },
        {
            "name": "MAG2",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(19739896.657),
                Some(7112473.957),
                Some(543320871.488),
                Some(6057859.048),
                Some(1226498927.113),
                Some(37615085.468),
                Some(1426035.096),
                Some(303620.577),
                Some(3409238.721),
            ],
        },
    ],
)